
/* Feed */

.titulo-feed{
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
  font-size: 25px;
  margin-top: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titulo-feed2{
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
  font-size: 25px;
  margin-top: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
}


div.feed {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 280px;
}

div.feed:hover {
  border: 1px solid #777;
}

div.feed img {
  width: 100%;
  max-height: 120px;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.container-feed{
  display: flex;
  justify-content: center;
  margin-top: 3%;
}

.container-feed2{
  display: flex;
  justify-content: center;
  margin-top: 3%;
}

/* Pre Loader */


.spinner{
  width: 80px;
  height: 80px;
  border: 2px solid #f3f3f3;
  border-top:3px solid #f25a41;
  border-radius: 100%;
  
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right: 0;
  margin: auto;
  
  animation: spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes spin {
  from{
      transform: rotate(0deg);
  }to{
      transform: rotate(360deg);
  }
}

#overlay{
height:100%;
width:100%;
background:rgba(0, 0, 0, 1);
position:fixed;
left:0;
top:0;

}

/*

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('http://i.imgur.com/zAD2y29.gif') 50% 50% no-repeat white;
  animation-name: loader;
  animation-duration: 3s;
  animation-iteration-count: 3;
  animation-timing-function: linear;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes loader {
  0%{
    opacity: 100%;
  }

  20%{
    opacity: 80%;
  }

  40%{
    opacity: 60%;
  }

  60%{
    opacity: 40%;
  }

  80%{
    opacity: 20%;
  }

  100%{
    opacity: 0%;
  }

}

*/