
/* Feed */

div.feed {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.feed:hover {
  border: 1px solid #777;
}

div.feed img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.container-feed{
  display: flex;
  justify-content: center;
  margin-top: 3%;
}



