/* Header */

nav{
  background-color: #222222;
}

nav li{
  color: white;
}

nav ul{
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.logo{
  flex: 1;
  margin-top: 10px;
  margin-bottom: 10px;
}

nav ul .search-icon{
  margin-right: 20px;
  height: 40px;
  width: 240px;
  display: flex;
  background-color: orangered;
  border-radius: 5px;
}

nav ul .btn-entrar{
  margin-right: 20px;
  height: 40px;
  width: 240;
  display: flex;
  
} 

nav ul .btn-entrar .input-btn{
  height: 100%;
  width: 120px;
  border: none;
  outline: none;
  padding: 0 10px;
  color: white;
  font-size: 18px;
  font-weight: bolder;
  background-color: orangered;
  border-radius: 5px;
}


nav ul .search-icon input{
height: 100%;
width: 200px;
border: none;
outline: none;
padding: 0 10px;
color: black;
font-size: 18px;
border-radius: 5px 0 0 5px;
}

nav ul .search-icon .icon{
  height: 100%;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

nav ul .search-icon .icon :hover{
  font-size: 22px;
}


nav ul .search-icon .icon span{
  color: white;
  font-size: 17px;
}

@media screen and (max-width: 1052px){
  nav{
    padding: 10px 40px 10px 0;
  }

  nav ul li .logo{
    display: none;
  }
}

/* Feed */

div.feed {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.feed:hover {
  border: 1px solid #777;
}

div.feed img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.container-feed{
  display: flex;
  justify-content: center;
  margin-top: 3%;
}


/* Footer */


  .footer-dark {
    padding:50px 0;
    color:#f0f9ff;
    background-color:#282d32;
    margin-top: 60%;
  }
  
  .footer-dark h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
  }
  
  .footer-dark ul a:hover {
    opacity:0.8;
  }
  
  @media (max-width:100%px) {
    .footer-dark .item:not(.social) {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  .footer-dark .item.text {
    margin-bottom:36px;
  }
  
  @media (max-width:100%) {
    .footer-dark .item.text {
      margin-bottom:0;
    }
  }
  
  .footer-dark .item.text p {
    opacity:0.6;
    margin-bottom:0;
  }
  
  .footer-dark .item.social {
    text-align:center;
  }
  
  @media (max-width:991px
  ) {
    .footer-dark .item.social {
      text-align:center;
      margin-top:20px;
    }
  }
  
  .footer-dark .item.social > a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin:0 8px;
    color:#fff;
    opacity:0.75;
  }
  
  .footer-dark .item.social > a:hover {
    opacity:0.9;
  }
  
  .footer-dark .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
  }
  
