nav{

    background-color: #ff9955ff;
    background-color: #ff7f2aff;
    background-color: #ff6600ff;
    background-color: #d45500ff;
    background-color: #803300ff;
}

ul{

    background-color: #ff5555ff;
    background-color: #ff2a2aff;
    background-color: #ff0000ff;
    background-color: #d40000ff;
    background-color: #aa0000ff;
}