
/* LOGIN */

.icon-logo{
    width: 100px;
    margin-top: 4%;
}


.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    border-radius: 10px;
    margin-top: 12%;
  }
  
  .center h1{
    text-align: center;
    padding: 0 0 20px 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.fill{

    background: -webkit-linear-gradient(left,  #ff9b2e 0%,#ff9b2e 20%,#fb576b 46%,#ff314b 100%);
    background: linear-gradient(to right,  #ff9b2e 0%,#ff9b2e 20%,#fb576b 46%,#ff314b 100%); 

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.center form{
    padding: 0 40px;
    box-sizing: border-box;
}

  form .campo-texto{
      position: relative;
      border-bottom: 2px solid #adadad;
      margin: 30px 0;
  }

  .campo-texto input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
  }

  .campo-texto label{
      position: absolute;
      top: 50%;
      left: 5px;
      color: #adadad;
      transform: translateY(-50%);
      font-size: 16px;
      pointer-events: none;
      transition: .5s;
  }

  .campo-texto span::before{
      content: '';
      position: absolute;
      top: 40px;
      left: 0;
      width: 0%;
      height: 2px;
      background: #ff9b2e; /* Old browsers */
      background: -moz-linear-gradient(left,  #ff9b2e 0%, #ff9b2e 20%, #fb576b 46%, #ff314b 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left,  #ff9b2e 0%,#ff9b2e 20%,#fb576b 46%,#ff314b 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right,  #ff9b2e 0%,#ff9b2e 20%,#fb576b 46%,#ff314b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9b2e', endColorstr='#ff314b',GradientType=1 ); /* IE6-9 */;
      transition: .5s;
  }

  .campo-texto input:focus~label,
  .campo-texto input:valid~label{
      top: -5px;
      color:#ff9b2e; /* Old browsers */
      color: -moz-linear-gradient(left,  #ff9b2e 0%, #ff9b2e 20%, #fb576b 46%, #ff314b 100%); /* FF3.6-15 */
      color: -webkit-linear-gradient(left,  #ff9b2e 0%,#ff9b2e 20%,#fb576b 46%,#ff314b 100%); /* Chrome10-25,Safari5.1-6 */
      color: linear-gradient(to right,  #ff9b2e 0%,#ff9b2e 20%,#fb576b 46%,#ff314b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9b2e', endColorstr='#ff314b',GradientType=1 ); /* IE6-9 */;
  }

  .campo-texto input:focus~span::before,
  .campo-texto input:valid~span::before{
      width: 100%;
  }

  .senha{
      margin: -5px 0 20px 5px;
      color: #a6a6a6;
      cursor: pointer;
  }

  .senha:hover{
      text-decoration: underline;
  }

  input[type="submit"]{
      width: 100%;
      height: 50px;
      border: 1px solid;
      background: #ff9b2e; /* Old browsers */
      background: -moz-linear-gradient(left,  #ff9b2e 0%, #ff9b2e 20%, #fb576b 46%, #ff314b 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left,  #ff9b2e 0%,#ff9b2e 20%,#fb576b 46%,#ff314b 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right,  #ff9b2e 0%,#ff9b2e 20%,#fb576b 46%,#ff314b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9b2e', endColorstr='#ff314b',GradientType=1 ); /* IE6-9 */;
      border-radius: 25px;
      font-size: 18px;
      color: #e9f4fb;
      font-weight: 700;
      cursor: pointer;
      outline: none;

  }

  input[type="submit"]{
      transition: .5s;
  }

  .link-conta{
      margin: 30px 0;
      text-align: center;
      font-size: 16px;
      color: #666666;
  }

  .link-conta a{
      color:#ff9b2e; /* Old browsers */
      color: -moz-linear-gradient(left,  #ff9b2e 0%, #ff9b2e 20%, #fb576b 46%, #ff314b 100%); /* FF3.6-15 */
      color: -webkit-linear-gradient(left,  #ff9b2e 0%,#ff9b2e 20%,#fb576b 46%,#ff314b 100%); /* Chrome10-25,Safari5.1-6 */
      color: linear-gradient(to right,  #ff9b2e 0%,#ff9b2e 20%,#fb576b 46%,#ff314b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9b2e', endColorstr='#ff314b',GradientType=1 ); /* IE6-9 */
      ;
      text-decoration: none;
  }

  .link-conta a:hover{
      text-decoration: underline;
  }

  /* Cadastro */

  .center-cadastro{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    border-radius: 10px;
    margin-top: 18%;
  }
  
  .center-cadastro h1{
    text-align: center;
    padding: 0 0 20px 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.center-cadastro form{
    padding: 0 40px;
    box-sizing: border-box;
}