main{
    margin-top: 100px;
    width: 50%;
}

main input{
    margin-top: 50px;
    border: 2px solid  #ff7f2a !important;
}

.btn-login{
    text-transform: uppercase;
    font-size: 20px;
    background-color: #f46b10;
    padding: 2% 8%;
    border: 1px transparent;
    border-radius: 6%;
    margin-top: 50px;
}

.btn-cadastrar{
    text-transform: uppercase;
    font-size: 20px;
    background-color: #f46b10;
    padding: 2.3% 5%;
    border: 1px transparent;
    border-radius: 6%;
    display: block;
    width: 26.7%;
    margin: auto;
    color: black;
    margin-top: 25px;
}

.btn-cadastrar:hover{
    text-decoration: none;
    color: black;
}

.form-group{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.form-group img{
    width: 9%;
    margin: 3%;
}

.profPic{
    width: 15%;
    margin: 3%;
}

.textfield{
    display: block;
    height: 170px;
    margin: auto;
    border: #ff7f2a 2px solid;
    border-radius: 5px;
}

footer{
    position: static;
    bottom: 0px;
    background-color: #f46b10;
    height: 100px;
    width: 100%;
    margin-top: 150px;
}