
main{
    width: 75%;
    margin: auto;
    text-align: center;
}

.alert{
    width: 60% !important;
    margin: auto;
    margin-top: 10%;
}

#vazio{
    width: 100%;
    height: 130px;
    background-color: white;
}

header{
    position: fixed;
    height: 130px;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo{
    /*float: left;*/
    padding: 35px 5px;
    width: 20%;
}

.img-logo{
    width: 100%;
    height: 98%;
    max-height: 115px;
}

.menu{
    display: flex;
    justify-content: space-around;
    width: 30%;
}

header form{
    margin: 0%;
    display: flex;
    align-items: center;
}

.pesquisa{
    background-color: black;
    border-color: #ff7f2aff;
    width: 100%;
    height: 30px;
    color: #ff9955ff;
    border-radius: 5px;
    
}
.menu a:hover{
    text-decoration: none;
    color: white;
}
/*.btn-entrar{
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
    text-decoration: none;
    background-color: #ff7f2aff;
    border-radius: 5%;
    padding: 2px 15px;
    margin-right: 5%;


}*/

/* Menu Lateral */
.ul {
    list-style: none;
    top: 70px;
    position: absolute;
    width: 100%;
    top: 45px;
    
}

li{
    list-style: none;
    margin-top: 45px;
}

/*img {
    width: 40px;
}*/

input[type="checkbox"] {
    display: none;
}

nav {
    background-color: #d45500ff;
    width: 10%;
    height: 240px;
    top: -300px;
    right: 0;
    position: absolute;
    transition: all .5s;
    text-transform: uppercase;
    
    
}

input[type="checkbox"]:checked~nav {
    transform: translateY(430px);
}


nav a {
    display: block;
    padding: 26px 10px;
    margin-top: 20px;
    height: 80px;
    width: 100%;
    margin-right: 0.5px;
    color: rgb(255, 255, 255);
    font-family: monospace, sans-serif;
    font-size: 12px;
    margin-top: -44.5px; 
    text-decoration: none;  
}

li:hover {
    background-color: #ff9955ff;

}

.btn-entrar label {
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
    text-decoration: none;
    background-color: #f46b10;
    border-radius: 5px;
    padding: 2px 15px;
    margin-right: 5%;
}


/*opções da conta*/

.account{
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 15px;
    width: 20%;
}

.account img{
    max-width: 100%;
}

.nomeUsuario{
    color: #ff7f2aff;
    text-transform: uppercase;
    font-weight: bolder;
    text-decoration: none;
    border-radius: 5px;
    padding: 2px 15px;
    margin-right: 5%;
}

.account img{
    height: 60px;
    border-radius: 50%;
}


/* Menu Lateral */
.account .ul {
    list-style: none;
    position: absolute;
    width: 100%;
   /* display: flex;
    flex-flow: column;
    align-content: space-between;*/
    
}

.account li{
    list-style: none;
}

.account input[type="checkbox"] {
    display: none;
}

.account nav {
    background-color: #d45500ff;
    height: 150px; 
    width: 11%;
    display: flex;
    flex-flow: column;   
    align-content: space-between;
}

.account input[type="checkbox"]:checked~nav {
    transform: translateY(430px);
}


.account nav a {


}

.account a:hover {
    background-color: #ff9955ff;

}

