/* Slider */ 
#slider {
	overflow: hidden;
  margin-top: -1%;
}
#slider figure {
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	animation: 20s slider infinite;
}
#slider figure img {
	width: 20%;
	float: left;
}

@keyframes slider {
	0% {
		left: 0;
	}
	20% {
		left: 0;
	}
	25% {
		left: -100%;
	}
	45% {
		left: -100%;
	}
	50% {
		left: -200%;
	}
	70% {
		left: -200%;
	}
	75% {
		left: -300%;
	}
	95% {
		left: -300%;
	}
	100% {
		left: -400%;
	}
}

main{
    width: 75%;
    margin: auto;
    text-align: center;
}

/* Header */

.form-pesquisa{
  display: flex;
  flex-direction: row;
  height: 100%;
}

.form-pesquisa label{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav{
    background-color: black;
  }
  
  nav li{
    color: white;
  }
  
  nav ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
  .logo{
    flex: 1;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  nav ul .search-icon{
    margin-right: 20px;
    height: 40px;
    width: 240px;
    display: flex;
    background-color: orangered;
    border-radius: 5px;
  }
  
  nav ul .search-icon input{
  height: 100%;
  width: 200px;
  border: none;
  outline: none;
  padding: 0 10px;
  color: black;
  font-size: 18px;
  border-radius: 5px 0 0 5px;
  }
  
  nav ul .search-icon .icon{
    height: 100%;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  
  nav ul .search-icon .icon :hover{
    font-size: 22px;
  }
  
  
  nav ul .search-icon .icon span{
    color: white;
    font-size: 17px;
  }
  
  @media screen and (max-width: 1052px){
    nav{
      padding: 10px 40px 10px 0;
    }
  
    nav ul li .logo{
      display: none;
    }
  }

  .img-menu{
      height: 70px;
  }

/* Botão Entrar */

.dropbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 140px;
  border: none;
  outline: none;
  padding: 7px 7px 7px 7px;
  color: white;
  font-size: 18px;
  font-weight: bolder;
  background-color: orangered;
  border-radius: 4px;
  
}

/* Botão ver Perfil */

.dropbtn-logado {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  width: 100px;
  border: none;
  outline: none;
  padding: 7px 7px 7px 7px;
  color: white;
  font-size: 18px;
  font-weight: bolder;
  border-radius: 200px;
  
}

/* Posiciona o Dropdown Content */
.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 4%;
}

/* Dropdown Content (Hidden por Padrão) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(235, 68, 7);
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 6px;
  opacity: 96%;
}

/* Links dentro do dropdown */
.dropdown-content a {
  color: whitesmoke;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-weight: bold;
}

/* Muda a cor dos links do dropdown no hover */
.dropdown-content a:hover {
  background-color: rgb(248, 89, 31);
  color: white;
  list-style: none;
  border-radius: 6px;
}

/* Mostra o menu dentro do dropdown no hover */
.dropdown:hover .dropdown-content {display: block;}

/* Icons Perfil */

.icons-prof{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* Feed */

.titulo-feed{
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
  font-size: 25px;
  margin-top: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titulo-feed2{
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
  font-size: 25px;
  margin-top: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
}


div.feed {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 280px;
}

div.feed:hover {
  border: 1px solid #777;
}

div.feed img {
  width: 100%;
  max-height: 120px;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.container-feed{
  display: flex;
  justify-content: center;
  margin-top: 3%;
}

.container-feed2{
  display: flex;
  justify-content: center;
  margin-top: 3%;
}


  /* Footer */


  .footer-dark {
    padding:50px 0;
    color:#f0f9ff;
    background-color:black;
    margin-top: 50%;
    text-align: center;
  }
  
  .footer-dark h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
  }
  
  .footer-dark ul a:hover {
    opacity:0.8;
  }
  
  @media (max-width:100%) {
    .footer-dark .item:not(.social) {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  .footer-dark .item.text {
    margin-bottom:36px;
  }
  
  @media (max-width:100%) {
    .footer-dark .item.text {
      margin-bottom:0;
    }
  }
  
  .footer-dark .item.text p {
    opacity:0.6;
    margin-bottom:0;
  }
  
  .footer-dark .item.social {
    text-align:center;
  }
  
  @media (max-width:991px
  ) {
    .footer-dark .item.social {
      text-align:center;
      margin-top:30px;
    }
  }
  
  .footer-dark .item.social > a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin:0 8px;
    color:#fff;
    opacity:0.75;
  }
  
  .footer-dark .item.social > a:hover {
    opacity:0.9;
  }
  
  .footer-dark .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
  }

  .footer-dark p{
    color:#f0f9ff;
  }
  
  .footer-dark .item.social > a > i{
    margin-right: 2px;
    
  }
